.newsfeed {
  display: grid;
  margin: 0 1.5rem;

  @media (min-width: 770px) {
    grid-template-columns: 1fr 2fr;
  }
}

.side {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &__form {
    width: 100%;
    background-color: #fff;
    margin: 1rem;

    &__description {
      height: 10rem;
    }
  }

  input {
    width: 100%;
    padding: 12px;
    border: 1px solid #eff4fd;
    border-radius: 4px;
    margin: 0 0 1rem 0;
  }

  .createForm {
    width: 100%;
  }
}

.main {
  background-color: #e6ecf0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: 770px) {
    margin: 2rem;
  }

  .posts {
    width: 100%;
    h1 {
      margin-bottom: 1rem;
    }
  }
}

.hide {
  display: none;
}
